# Your timezone, https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ=Europe/Brussels
# UNIX PUID and PGID, find with: id $USER
PUID=1002
PGID=1002
# The directory where data and configuration will be stored.
ROOT=~/MEDIA
